        :root {
        --primary-font: 'Roboto', sans-serif;
        --secondary-font: 'Raleway', sans-serif;
        --primery-text-color-theme-dark: #FFFFFF;
         --secondary-text-color-theme-dark: #F4F4FD;
         --primery-text-color-theme-light: #2E2F42;
         --secondary-text-color-theme-light: #434455;
         --accent-color: #404BBF;
        }

        ul {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        body {
            font-family: var(--primary-font);
            color: #434455;
            background-color: #FFFFFF;
          
        }
        .modal-btn {
            font-family: var(--primary-font);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            cursor: pointer;
            text-transform: uppercase;
            align-items: center;
        }
        .logo {
            font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        text-decoration: none;
        }
        .span-logo {
            font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
        text-decoration: none;
        
        }
        .menu-item link:hover,
        .menu-item link:focus {
            color: var(--accent-color);
        }
        .menu-item {
        font-family: var(--primary-font);   
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        flex: none;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;

        
        }
        .adress {
            font-style: normal;
        }
        .adress-contact:hover,
        .adress-contact:focus {
            color: var(--accent-color);
        }
        .adress-contact {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        text-decoration: none;
       /* color: #404bbf;*/
        }
        .feauter-one {
            background-color: #2E2F42;
        }
        .main-header {
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: #FFFFFF;
        background: #2E2F42;
        background-color: #404BBF
        }
        .button {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        background: #4D5AE5;
        background-color: #404BBF
        
        }
        .section {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
        flex: none;
        order: 0;
        flex-grow: 0;
        }
        .section-description {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        
        }
        .section-header {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        }
        .section-img {
            box-sizing: border-box;
        width: 360px;
        height: 300px;
    
        }
        .secondary-section-img {
            background: url(man-with-laptop-presenting-something.jpg);
        mix-blend-mode: normal;

        }


        .logo {
            font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16px;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }
        .span-logo-footer {
            font-family: var(--secondary-font);
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #F4F4FD;
        
        }
        .footer-text {
            position: absolute;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #F4F4FD;
        background: #2E2F42;
        }
        .footer {
            position: absolute;
            background: #2E2F42; 
        }
        .button-click {
            font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        color: #4D5AE5;

        }


    
